<div class="big-container product-manage-wrapper flexed-item">
  
  <form method="POST" action="/product-edit/{{prod._id}}" class="add-product-form">
    <h3 class="form-title"> Edit Sneaker</h3>
    
    <div class="form-item-wrapper flexed-item">
      <label for="name" class="label-name label">Model name</label>
      <input type="text" name="name" class="input-text input" placeholder="Nike Air Max 90", value="{{prod.name}}">
    </div>

    <div class="form-item-wrapper flexed-item">
      <label for="ref" class="label-ref label">Réf.</label>
      <input type="text" name="ref" class="input-text input" placeholder="ex: NV23498" value={{prod.ref}}>
    </div>

    <div class="form-item-wrapper flexed-item">
      <label for="sizes" class="label-ref label">Size</label>
      <input type="number" name="sizes" class="input-text input" placeholder="ex: 37" min="30" max="47" value={{prod.sizes}}>
    </div>

    <div class="form-item-wrapper flexed-item">
      <label for="description" class="label-descr label">Description</label>
      <input type="text" name="description" class="input-text input" placeholder="The better sneakers to run" value={{prod.description}}>
    </div>

    <div class="form-item-wrapper flexed-item">
      <label for="price" class="label-price label">Price</label>
      <input type="number" name="price" class="sneacker-price input" min="1" value={{prod.price}}>
    </div>
    
    <div class="form-item-wrapper flexed-item">
      <label for="category" class="label-main-cat label">Main category</label>
      <select name="category"  id="main_category" class="select" >
        <option value="">Choose main Category...</option>
        <option value="men">Men</option>
        <option value="women">Women</option>
        <option value="kids">Kids</option>
      </select>
    </div>
    
    <!--
    <div class="form-item-wrapper flexed-item">
      <label for="id_tags" class="label">Tags</label>
      <select name="id_tags" id="secondary_category" class="select">
        <option value="">Choose Secondary Category...</option>
         
        {{#each tag}}
        <option value={{this.label}}>{{this.label}}</option>
        {{/each}}
       
      </select>
    </div>
     -->
    
    <button class="button-primary add-sneacker-btn">Save changes</button>
  </form>
</div>